<link rel="stylesheet" href="/stylesheets/cart.css">
<!-- cart items -->
    <section class="cart-items mt-5">
        <div class="row">
            <div class="card my-4 border-0">
                <div class="row">
                    <div class="col-md-8 cart">
                        <div class="title">
                            <div class="row">
                                <div class="col">
                                    <h4><b>My cart({{cartCount}})</b></h4>
                                </div>
                            </div>
                        </div>
                        <!-- cartpro1 -->
                        {{#each products}}
                        <div class="row border-top border-bottom">
                            <div class="row main align-items-center">
                                <div class="col-2">
                                    <img class="img-fluid"
                                        src="/product-Images/{{this.product._id}}.jpg">
                                </div>
                                <div class="col">
                                    <div class="row text-muted">{{this.product.Name}}</div>
                                    <div class="row">{{this.Category}}</div>
                                    <div class="col">&#8377;{{this.product.Price}}</div>
                                </div>
                                <div class="m-2 border border-2">
                                    <button class="border-0" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                                    <span  class="" id="{{this.product._id}}">{{this.quantity}}</span>
                                    <button class="border-0" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                                </div>
                                <span class="close"><a onclick="deleteCartProduct('{{this._id}}','{{this.product._id}}','{{../user._id}}')">&#10005;</a></span>
                            </div>
                        </div>
                        {{/each}}                        
                        <!-- .. -->
                    </div>
                    <div class="col-md-4 price-details">
                        <div>
                            <h5><b>PRICE DETAILS</b></h5>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col" style="padding-left:0;">Price({{cartCount}} items)</div>
                            <div class="col text-right">&#8377;<span id="total">{{totalValue}}</span></div>
                        </div>
                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div class="col" style="padding-left:0;">Delivery Charge</div>
                            <div class="col text-right">&#8377;50 </div>
                        </div>
                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div class="col">TOTAL PRICE</div>
                            <div class="col text-right">&#8377;<span id="totaldelivery">{{totalwtDelivery}}</span></div>
                        </div>
                        <button class="btn btn-success" onclick="location.href='/place-order';"><b>CHECKOUT</b></button>
                    </div>
                </div>
            </div>
        </div>
    </section>